# test
ifconfig.me
# install
github.com
objects.githubusercontent.com
raw.githubusercontent.com
code.jquery.com
momentjs.com
download.comodo.com
cdn.download.comodo.com
install.python-poetry.org
pypi.org
files.pythonhosted.org
cdnjs.cloudflare.com
cdn.datatables.net
# usage (misp, lookiloo...)
cdn.download.comodo.com
bazaar.abuse.ch
www.hybrid-analysis.com
jbxcloud.joesecurity.org
www.virustotal.com
hashlookup.circl.lu
# system - tinyproxy takes a single filters file
archive.ubuntu.com
ca.archive.ubuntu.com
azure.archive.ubuntu.com
security.ubuntu.com
ddebs.ubuntu.com
archive.canonical.com
changelogs.ubuntu.com
nova.clouds.archive.ubuntu.com
keyserver.ubuntu.com
livepatch.canonical.com
ppa.launchpad.net
# optional tools
mirrors.digitalocean.com
digitaloceanmirrors.com
repos.sonar.digitalocean.com
repos.insights.digitalocean.com
repos-droplet.digitalocean.com
pkg.osquery.io
osquery-packages.s3.us-east-1.amazonaws.com
download.falco.org
packages.microsoft.com
